{% extends 'SmsBundle::layout/layout.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% if form is defined %}
        {% include 'SmsBundle::Form/send_sms.html.twig' %}
    {% endif %}
{% endblock %}